body {
  font-family: Arial, sans-serif;
  margin: 0;
  background-color: #f9f9f9;
  color: #333;
}

header {
  background-color: #00274D; /* Leeds blå */
  color: white;
  padding: 20px;
  text-align: center;
}

nav ul {
  list-style: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin: 0 15px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.intro, .info {
  padding: 20px;
  text-align: center;
}

footer {
  background-color: #FFD700; /* Leeds gul */
  text-align: center;
  padding: 10px;
}